<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Roku Flashback</title>
</head>

<body>
    <main id="app">
          <header>
              <div class="logo">
                <img src="images/roku.svg" alt="roku logo">
              </div>
            <nav class="float-right">
              <ul>
                <li v-if="authenticated" v-on:click="brightness()"><img src="images/bulb.svg" alt="change day or night browsing mode"></li>
                <li v-if="authenticated" v-on:click="zoomin()"><img src="images/zoom.svg" alt="zoom in"></li>
                <!-- <li v-if="authenticated" v-on:click="headphone()"><img src="images/earphone.svg" alt="headphone mode"></li>
                <li v-if="condition" v-on:click="mutesound()"><img src="images/mute.svg" alt="mute sound"></li> -->
                <li v-if="condition" v-on:click="subcondition()"><img src="images/substitle.svg" alt="add Substitle"></li>
              </ul>
            </nav>
          </header>
        
        <div class="chanel-container">
            <h2>Now playing for free on The Roku Channel</h2>
            <div class="chanel-content">
                <div v-for="media in mediadata" class="row-image">
                    <img :src="'images/' + media.cover" :alt="media.name">
                    <a :href="'video/'+ media.vidsource"><button @click.prevent="startVideo(media)">Start</button></a>
                </div>
            </div>

            <div class="hidden-movies" :class="{'show-movie' : showDetails}">  <!-- hidden-movies -->
                <player v-bind:media="media" :subs="subT" />
            </div>
        </div>
    </main>
  
    <footer>
        <p class="copy"> &copy;2020 Roku, Inc. All rights reserved.</p>
    </footer>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

      <script type="module" src="js/main.js"></script>
  </body>
  
  </html>

