.main-container{
    width: 100%;
    background:url(../images/roku-channel-bck.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .start-container{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    h2{
       margin: 0 auto;
       margin-top: 3%;
       padding: 1.5em 0;
       color: white;
       text-align: center;
       text-transform: uppercase;
       font-size: 2em;
       
    }
    }
    .row{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
    }
    .intro{
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        p{
            color: white;
            font-size: 1.5em;
        }
        button{
            margin-top: 2em;
            padding: 10px;
            border-radius: 10px;
            color: purple;
            font-weight: bolder;
            font-size: 1em;
        }
    }
}